# LINE Messaging API
LINE_TOKEN=dc6ac339a8880959bf3bc214b0879e64

# Supabase (https://supabase.com → Project Settings → API)
SUPABASE_URL=https://ckfzscprxighfxztmgct.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrZnpzY3ByeGlnaGZ4enRtZ2N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNTU0NDIsImV4cCI6MjA5MjYzMTQ0Mn0.nQ_LhPz9GsehqRSNx67G5cqxCKHD-cM1gbs2edTqUpw

# Server
PORT=3000
